@import 'functions';
@import 'variables';
@import 'animations';
@import 'buttons';
@import 'typography';
@import 'grids';

@import 'atoms/cell';
@import 'atoms/navbar';
@import 'atoms/games';

@import 'components/cells';

body {
  margin: 0;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}